#header{
  color: rgb(84, 95, 190);
  text-align: center;
  background: #E8E9F0;
}
/*CSS Comment*/

/*div.player_info{
  background: #E8E9F0;
}

/*body{
 background-image: url(../images/messi.jpg);
 /*background-repeat: no-repeat;*/
 /*background-repeat: repeat-x;*/
 /*background-repeat: repeat-x;*/
 /*background-position: center center;*/
 /*background-position: top;*/
